{
  "extends": "airbnb-base",
  "rules": {
    "func-names": "off",
    "max-classes-per-file": ["error", 8],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ]
  }
}